*{
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

:root{
    --lightvoid: #29078f;
    --purple: #7202f2;
    --blue: #337894;
    --red: #f23;
    --lightred: #ffe0fb;
    --lightblue: #dbe0ff;
    --lightyellow: #fdfdcb;
}

/**navbar**/

#sidebar {
    position: fixed;
    width: 19em;
    height: 100%;
    background: #fff;
    left: -20em;
    transition: all 500ms ease-in;
    z-index: 100;
    border-right: 1px solid var(--lightvoid);
}

#sidebar.active{
    left: 0;
}

#sidebar>ul{
    margin: 1.2em 0;
}

#sidebar ul li{
    color: rgba(230, 230, 230, .9);
    text-align: center;
    padding: 1.3em .8em;
    list-style: none;
    border-bottom:1px solid rgba(100, 100, 100, .3);
}

li>.links{
    text-decoration: none;
}

.logo{
    display: block;
    margin: 0 auto;
    width: 14em;
    height: 5.5em;
}

#sidebar .toggle-btn{
    position: absolute;
    left: 20.6em;
    top: .65em;
    cursor: pointer;
}

#sidebar .toggle-btn span{
    display: block;
    width: 1.5em;
    text-align: center;
    font-size: 2em;
    border: 1px solid #bbb;
    color: #ccc;
}

.button{
    margin: 6em 5.4em;
    text-decoration: none;
    padding: .5em .9em;
    border-radius: 6em;
    background: var(--blue);
    color: #fff;
    transition: 120ms all 120ms linear;
}

.button:hover{
    background: #29f;
}

/**header**/

.header{
    background: url("../img/laptop1.jpg") no-repeat;
    background-size: cover;
    background-position: 50% 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    width: 100%;
    height: 45em;
    color:#fff;
    padding: 2em 0em;
}

.header img{
    width: 27.5em;
    height: 9.5em;
    margin: 0 0 1.5em 0;
}

.header p{
    font-size: 1.2em;
    margin:2.5em 0em;
}

.header a{
    text-decoration: none;
    background: var(--red);
    color:#fff;
    padding: 1em 1em;
    border-radius: 2em;
    margin: 1em 1em;
    transition: 150ms all 150ms linear;
}

.header a:hover{
    padding: 1.4em 1.3em;
    background: var(--purple);
}

/**tarjetas**/

.section{
    margin: 2em 0em;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    z-index: 1;
}

.section__article{
    height: 20em;
    padding: 1.5em 1em 1em 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
}

.section__article-divblur{
    padding: 3em 1em;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(2px);
    max-height: 17em;
    height: 100%;
    width: 100%;
    border-radius: 2em;
    transition: 50ms all 150ms ease;
}
.section__article-divblur:hover{
    backdrop-filter: blur(15px);
}

.section__article-p{
    margin: 2em 1em;
}

.section__article:first-child{
    background: url("../img/casset.jpg");
    background-position: center;
    background-size: cover;
}

.section__article:nth-child(2){
    background: url("../img/design.jpg");
    background-position: center;
    background-size: cover;
}

/**showcase**/

.showcase{
    background: url("../img/impresora3D1.jpg") no-repeat;
    background-size: 100% 130%;
    background-position: center left;
    width: 100%;
    height: 44.4em;
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: flex-end;
    color: #fff;
    margin: 0em 0em 1.4em 0em;
}

.showcase h2{
    margin: 0em 0em 3em 0em;
    padding: 0em 2em 0em 2em;
    font-size: 2em;
    font-weight: 900;
}

.showcase p{
    margin: 0em 0em 3em 0em;
    padding: 0em 2em 0em 2em;
    font-size: 1.3em;
    font-weight: 300;
}

/**servicios**/

.servicios-h2{
    background: url("../img/oficina.jpg") no-repeat;
    background-size: 100% 54em;
    background-position: 100% 44%;
    width: 100%;
    height: 17em;
    color: #fff;
}

.servicios-h2 h2{
    font-size: 1.5em;
    width: 50%;
    position: relative;
    left: 45%;
    bottom: -27%;
}

.servicios__cards{
    display: flex;
    text-align:center; 
    flex-direction: row;
    margin: 1em 1em;
    border-radius: .4em;
}

.servicios__cards-art{
    color: #214;
    background: linear-gradient(to bottom, var(--lightyellow),var(--lightblue));
    padding: 3.6em 1em;
    margin: 1em 1.2em;
    flex-wrap: wrap;
}

.servicios__cards-art h3{
    padding: 1em 1em;
    font-size: 1.5em;
}

.servicios__cards-art p{
    padding: 1.5em 1.2em 2em 1.2em;
}

.button-products{
    text-decoration: none;
    color: #ffe0fb;
    background: var(--red);
    padding: 1.2em 1em;
    margin: 1.5em 1em;
    border-radius: .3em;
    font-size: .8em;
}

/**footer**/

footer{
    border-top: .3em solid var(--lightvoid);
    background: linear-gradient(to bottom,#103,#000);
    height: 12.5em;
    padding: 2.3em 1em;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer h5{
    font-size: 1.3em;
    color: #999;
}

.footer h6{
    font-size: .8em;
    color: #888;
    margin: 1em 0em 0em 0em;
}

.footer-redes{
    margin: 1.5em 0em;
    list-style: none;
}

.footer-redes li a{
    text-decoration: none;
    color: #ffe2fd;
    margin: 1.5em 1em;
    transition: 120ms all 120ms linear;
}

.footer-redes li a:first-child:hover{
    padding: .6em .6em;
    background: #22f;
}

.footer-redes li a:nth-child(2):hover{
    padding: .6em .6em;
    background: #80f;
}

.footer-redes li a:nth-child(3):hover{
    padding: .6em .6em;
    background: #3eb66e;
}

/**responsive design**/

@media only screen and (max-width:895px){
    .servicios__cards{
        flex-direction: column;
    }
}

@media only screen and (max-width:745px){
    .header img{
        width: 22em;
        height: 9em;
    }
    
    .section{
        grid-template-columns: repeat(1,1fr);
    }

    .section__article{
        margin: .5em 0;
    }
}

@media only screen and (max-width:425px){
    .header{
        height: 38.7em;
    }

    .header img{
        width: 15em;
        height: 6em;
    }
    
    .header p{
        font-size: .9em;
        margin: 0;
    }
    
    .section{
        grid-template-columns: repeat(1,1fr);
        
    }

    .section__article{
        margin: .5em 0;
    }

    .section__article-p{
        font-size: .86em;
    }

    .showcase{
        background-size: 100% 130%;
        background-position: 100% 100%;
        height: 23em;
    }

    .showcase h2{
        margin: 0em 1em;
        padding: 0;
        font-size: 1.2em;
        font-weight: 700;
    }
    
    .showcase p{
        margin: 1em .8em;
        padding: 0;
        font-size: .8em;
        font-weight: 300;
    }

    .servicios-h2{
        background-position: 100% 64%;
        background-size: 200% 37em;
        height: 12em;
    }
    
    .servicios-h2 h2{
        font-size: 1.5em;
        width: 50%;
        position: relative;
        left: 36%;
        bottom: -27%;
    }
}

@media only screen and (max-width:375px){
    
    #sidebar {
        width: 14em;
        height: 100%;
        background: #fff;
        left: -14em;
        
    }
    
    #sidebar.active{
        left: 0;
    }
    
    #sidebar>ul{
        margin: 1.2em 0;
    }
    
    #sidebar ul li{
        padding: 1.3em .8em;
    }
    
    .logo{
        margin: 0 auto;
        width: 9em;
        height: 3.5em;
    }
    
    #sidebar .toggle-btn{
        left: 14.65em;
        top: 0.65em;
    }
    
    .button{
        margin: 6em 2.8em;
    }

    .showcase{
        background-size: 100% 130%;
        background-position: 100% 100%;
        height: 15em;
    }

    .servicios-h2{
        background-position: 100% 64%;
        background-size: 200% 37em;
        height: 8em;
    }

    .footer-redes li a{
        margin: .5em .3em;
    }


}