*{
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

:root{
    --lightvoid: #29078f;
    --purple: #7202f2;
    --blue: #337894;
    --red: #f23;
    --lightred: #ffe0fb;
    --lightblue: #dbe0ff;
    --lightyellow: #fdfdcb;
    --tomate: #ff6347;
}

/**navbar**/

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1.2em 1em 1.2em;
    border-bottom: .3em solid var(--lightvoid);
    font-weight: 700;
}

.nav img{
    width: 15em;
    height: 4.6em;
}

.nav__links-li{
    list-style: none;

}

.nav__links-li a{
    text-decoration: none;
    margin: 1em 2em 0em 2em;
    padding: .4em 1em;
    border-radius: 5em;
    color: var(--lightvoid);
    font-size: 1.3em;
    transition: 130ms all 130ms linear;
}

.nav__links-li a:first-child:hover{
    color:#fff;
    background: linear-gradient(to right, var(--red),var(--purple)80%);
}

.nav__links-li a:nth-child(2):hover{
    color:#fff;
    background: var(--purple);
}

.nav__links-li a:nth-child(3):hover{
    color:#fff;
    background: var(--purple);
}

.nav__links-li a:nth-child(4):hover{
    color:#fff;
    background: linear-gradient(to right,var(--purple),var(--blue)80%);
}

.button{
    text-decoration: none;
    padding: .5em .9em;
    border-radius: 6em;
    background: var(--blue);
    color: #fff;
    transition: 120ms all 120ms linear;
}

.button:hover{
    background: #29f;
}

/**Productos**/

.titulo{
    margin: .5em 0.2em;
    font-size: 2.5em;
}

.impresion-3D{
    border-top: 2px solid var(--lightvoid) ;
    border-bottom: 2px solid var(--lightvoid) ;
    margin: 1.8em 1em;
    padding: 1em;
}

.impresion-3D>h3{
    font-size: 1.4em;
    margin: 1em 1em;
}

.impresion-3D-flex{
    border-top: 2px solid #fff;
    box-shadow: 0px 6px 10px #ccc;
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 1em 2em;
    padding: 1.8em 2em;
    align-items: center;
    text-align: center;
    background: linear-gradient(var(--lightblue),var(--lightyellow));
}

.impresion-3D-flex>h4{
    margin: 1.5em 1em;
    font-size: 1.1em;
}

.impresion-3D-flex>a{
    text-decoration: none;
    margin: 1em 1em;
    padding: 1em 1em;
    border: 1px solid red;
    color: #fff;
    background-color: var(--red);
    border-radius: .3em;
}

.desarrollo-web{
    border-bottom: 2px solid var(--lightvoid) ;
    margin: 1.8em 1em;
    padding: 1em;
}

.desarrollo-web>h3{
    font-size: 1.4em;
    margin: 1em 1em;
}

.desarrollo-web-flex{
    border-top: 2px solid #fff;
    box-shadow: 0px 6px 10px #ccc;
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 1em 2em;
    padding: 1.8em 2em;
    align-items: center;
    text-align: center;
    background: linear-gradient(var(--lightblue),var(--lightyellow));
}

.desarrollo-web-flex>h4{
    margin: 1.5em 1em;
    font-size: 1.1em;
}

.desarrollo-web-flex>a{
    text-decoration: none;
    margin: 1em 1em;
    padding: 1em 1em;
    border: 1px solid red;
    color: #fff;
    background-color: var(--red);
    border-radius: .3em;
}


/**footer**/

footer{
    border-top: .3em solid var(--lightvoid);
    background: linear-gradient(to bottom,#103,#000);
    height: 12.5em;
    padding: 2.3em 1em;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer h5{
    font-size: 1.3em;
    color: #999;
}

.footer h6{
    font-size: .8em;
    color: #888;
    margin: 1em 0em 0em 0em;
}

.footer-redes{
    margin: 1.5em 0em;
    list-style: none;
}

.footer-redes li a{
    text-decoration: none;
    color: #ffe2fd;
    margin: 1.5em 1em;
    transition: 120ms all 120ms linear;
}

.footer-redes li a:first-child:hover{
    padding: .6em .6em;
    background: #22f;
}

.footer-redes li a:nth-child(2):hover{
    padding: .6em .6em;
    background: #80f;
}

.footer-redes li a:nth-child(3):hover{
    padding: .6em .6em;
    background: #3eb66e;
}