*{
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

:root{
    --lightvoid: #29078f;
    --purple: #7202f2;
    --blue: #337894;
    --red: #f23;
    --lightred: #ffe0fb;
    --lightblue: #dbe0ff;
    --lightyellow: #fdfdcb;
    --tomate: #ff6347;
}

/**navbar**/

#sidebar {
    position: fixed;
    width: 19em;
    height: 100%;
    background: #fff;
    left: -20em;
    transition: all 500ms ease-in;
    z-index: 100;
    border-right: 1px solid var(--lightvoid);
}

#sidebar.active{
    left: 0;
}

#sidebar>ul{
    margin: 1.2em 0;
}

#sidebar ul li{
    color: rgba(230, 230, 230, .9);
    text-align: center;
    padding: 1.3em .8em;
    list-style: none;
    border-bottom:1px solid rgba(100, 100, 100, .3);
}

li>.links{
    text-decoration: none;
}

.logo{
    display: block;
    margin: 0 auto;
    width: 14em;
    height: 5.5em;
}

#sidebar .toggle-btn{
    position: absolute;
    left: 20.6em;
    top: 0.65em;
    cursor: pointer;
}

#sidebar .toggle-btn span{
    display: block;
    width: 1.5em;
    text-align: center;
    font-size: 2em;
    border: 1px solid #666;
    color: #666;
}

.button{
    margin: 6em 5.4em;
    text-decoration: none;
    padding: .5em .9em;
    border-radius: 6em;
    background: var(--blue);
    color: #fff;
    transition: 120ms all 120ms linear;
}

.button:hover{
    background: #29f;
}

/**Sobre nosotros**/

main{
    padding: 5em 2em 2.5em 2em;
}

.texto-rapido{
    background: radial-gradient(var(--lightred),var(--lightblue));
    padding: 2em 0;
}

.texto-rapido>h3{
    padding: .6em 1em;
   font-size: 1.8em;
}

.texto-rapido>h4{
    padding: .6em 1em;
   font-size: 1.4em;
}

.texto-rapido>p{
    padding: 1.2em 1.2em;
    letter-spacing: 2.4px;
}

/**footer**/

footer{
    border-top: .3em solid var(--lightvoid);
    background: linear-gradient(to bottom,#103,#000);
    height: 12.5em;
    padding: 2.3em 1em;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer h5{
    font-size: 1.3em;
    color: #999;
}

.footer h6{
    font-size: .8em;
    color: #888;
    margin: 1em 0em 0em 0em;
}

.footer-redes{
    margin: 1.5em 0em;
    list-style: none;
}

.footer-redes li a{
    text-decoration: none;
    color: #ffe2fd;
    margin: 1.5em 1em;
    transition: 120ms all 120ms linear;
}

.footer-redes li a:first-child:hover{
    padding: .6em .6em;
    background: #22f;
}

.footer-redes li a:nth-child(2):hover{
    padding: .6em .6em;
    background: #80f;
}

.footer-redes li a:nth-child(3):hover{
    padding: .6em .6em;
    background: #3eb66e;
}

@media only screen and (max-width:375px){
    .footer-redes li a{
        margin: .5em .3em;
    }
    
#sidebar {
    width: 14em;
    height: 100%;
    background: #fff;
    left: -14em;
    
}

#sidebar.active{
    left: 0;
}

#sidebar>ul{
    margin: 1.2em 0;
}

#sidebar ul li{
    padding: 1.3em .8em;
}

.logo{
    margin: 0 auto;
    width: 9em;
    height: 3.5em;
}

#sidebar .toggle-btn{
    left: 14.65em;
    top: 0.65em;
}

.button{
    margin: 6em 2.8em;
}
}